# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CNTT\selenium-test-java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
